<div ng-cloak>
    <div class="row">
        <!--<div class="col-md-4">-->
            <!--<span class="hipster img-responsive img-rounded"></span>-->
        <!--</div>-->
        <div class="col-md-12" ng-switch="isAuthenticated()">
            <h1 ng-switch-when="false">Welcome, stranger!</h1>

            <h1 ng-switch-when="true">Welcome, {{account.firstName}} {{account.lastName}}!</h1>

            <div>
                <div class="alert alert-success" ng-switch-when="true">
                    You are logged in as user "{{account.login}}".
                </div>

                <div class="alert" >
                    <p>It is an application for the input of calories</p>
                    <ul>
                        <li>User must be able to create an account and log in</li>
                        <li>When logged in, user can see a list of his meals and calories (user enters calories
                            manually,
                            no auto calculations!), also he should be able to edit and delete
                        </li>
                        <li>Implement at least three roles with different permission levels: a regular user would only
                            be
                            able to CRUD on their owned records, a user manager would be able to CRUD users, and an
                            admin
                            would be able to CRUD all records and users.
                        </li>
                        <li>Each entry has a date, time, text, and num of calories</li>
                        <li>Filter by dates from-to, time from-to (e.g. how much calories have I had for lunch each day
                            in the last month, if lunch is between 12 and 15h)
                        </li>
                        <li>User setting - Expected number of calories per day</li>
                        <li>When displayed, it goes green if the total for that day is less than expected number of
                            calories per day, otherwise goes red
                        </li>
                        <li>Minimal UI/UX design is needed.</li>
                        <li>All actions need to be done client side using AJAX, refreshing the page is not acceptable.
                            (If a mobile app, disregard this)
                        </li>
                        <li>REST API. Make it possible to perform all user actions via the API, including authentication
                            (If a mobile application and you don't know how to create your own backend you can use
                            Firebase.com or similar services to create the API).
                        </li>
                        <li>In any case you should be able to explain how a REST API works and demonstrate that by
                            creating functional tests that use the REST Layer directly.
                        </li>
                        <li>Bonus: unit and e2e tests!</li>
                        <li>You will not be marked on graphic design, however, do try to keep it as tidy as possible.
                        </li>
                    </ul>
                    <p>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <th>Role</th>
                        <th>Login</th>
                        <th>Password</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>app_admin
                            </td>
                            <td>appadmin
                            </td>
                            <td>appadmin
                            </td>
                        </tr>
                        <tr>
                            <td>user
                            </td>
                            <td>user
                            </td>
                            <td>user
                            </td>
                        </tr>
                        <tr>
                            <td>manager
                            </td>
                            <td>manager
                            </td>
                            <td>manager
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </p>
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? <a class="alert-link" href="#/register">Register a new account</a>
                </div>
            </div>

        </div>
    </div>
</div>
