<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEntryLabel">
            Create or edit an Entry</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" name="id"
                   ng-model="entry.id" readonly>
        </div>

        <div class="form-group">
            <label>Text</label>
            <input type="text" class="form-control" name="text"
                   ng-model="entry.text">
        </div>
        <div class="form-group">
            <label>Calories</label>
            <input type="number" class="form-control" name="calValue"
                   ng-model="entry.calValue">
        </div>
        <div class="form-group" has-authority="ROLE_APP_ADMIN">
            <label>User</label>
            <select
                class="form-control"
                ng-options="user as (user.firstName + ' ' + user.lastName) for user in users" ng-model="entry.user"></select>
        </div>

        <div class="form-group">
            <label>Entry Date</label>
            <input type="datetime-local" class="form-control" name="entryDate"
                   ng-model="entry.entryDate">
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            >Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
