<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h1>Error Page!</h1>

            <div class="alert alert-danger">You are not authorized to access the page.
            </div>
        </div>
    </div>
</div>
