<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h1>Error Page!</h1>

            <div ng-show="errorMessage">
                <div class="alert alert-danger">{{errorMessage}}
                </div>
            </div>
        </div>
    </div>
</div>
